body, section, p, b, h1, h2, h3, h4, h5, h6, video, header, a, nav,
img, input, div, form, ul, li, hr, fieldset, input, iframe, textarea, video{
	margin: 0;
	padding: 0;
    outline:0;
    vertical-align: baseline
}